<div class="card">
  <div class="card-header">Editar Carro</div>
  <div class="card-body">
    <form ngNativeValidate [formGroup]="formularioDeCarros" (ngSubmit)="enviarDatos()">
      <div class="mb-3">
        <label for="" class="form-label">Modelo:</label>
        <input
        required
          formControlName="Modelo"
          type="text"
          class="form-control"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Escribe modelo"
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Detalles</label>
        <input
        required
          formControlName="Descripcion"
          type="text"
          class="form-control"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Detalles"
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Precio</label>
        <input
        required
          formControlName="Precio"
          type="text"
          class="form-control"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Precio del carro"
        />
      </div>

      <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-warning">Editar</button>
        <button type="button" routerLink="/listar-carro/" class="btn btn-primary">Cancelar</button>
      </div>
    </form>
  </div>
</div>
